<a href="/users/home">Home</a> > Routines

<h1>Routines for <%= current_user.name %></h1>

<% if current_user.routines.empty? %>
  <strong>No Routines Created Yet!</strong>
<% end %>

<% @routines.each do |routine| %>
  <a href="/routines/<%= routine.id %>"><strong><%= routine.name %></strong></a><br>
<% end %>

<br>

<a class="create_routine" href="/routines/new">Create Routine</a>
