<a href="/users/home">Home</a> > <a href="/routines">Routines</a> > New Routine

<div id="new_routine_container">
  <h1>New Routine for <%= current_user.name %></h1>

  <h3>Enter Routine Information</h3>
  <form action="/routines" method="POST">
    <label class="form_content_left" for="name"><strong>Name: </strong></label><input class="form_content_right" type="text" name="name" required><br>
    <label class="form_content_left" for="times_per_week"><strong>How Many Times Per Week? </strong></label><input class="form_content_right" type="number" name="times_per_week" min=0><br>
    <br>

    <h3>Enter Exercise Information</h3>
    Add an Existing Exercise?
    <br>
    <% @exercises.each do |exercise| %>
      <input type="checkbox" id="<%= exercise.id %>"name="exercise_ids[]"value="<%= exercise.id %>">
             <%= exercise.name %>
      </input><br>
    <% end %>
    <br>
    <br>

    ...and/or Create a New Exercise <br>
    <label class="form_content_left" for="name"><strong>Name: </strong></label><input class="form_content_right" type="text" name="new_exercise[][name]"><br>
    <label class="form_content_left" for="exercise_type"><strong>Exercise Type: </strong></label><input class="form_content_right" type="text" name="new_exercise[][exercise_type]"><br>
    <label class="form_content_left" for="description"><strong>Description: </strong></label><textarea class="form_content_right" type="text" name="new_exercise[][description]"></textarea><br>
    <label class="form_content_left" for="sets"><strong>No. of Sets: </strong></label><input class="form_content_right" type="number" name="new_exercise[][sets]" min=0><br>
    <label class="form_content_left" for="reps"><strong>No. of Reps: </strong></label><input class="form_content_right" type="number" name="new_exercise[][reps]" min=0><br>

    <br>

    <input class="create_routine" type="submit" value="Create Routine">
  </form>
</div>
