<a href="/users/home">Home</a> > <a href="/routines">Routines</a> > New Routine

<h1>New Routine for <%= current_user.name %></h1>

<h3>Enter Routine Information</h3>
<form action="/routines" method="POST">
  Name: <input type="text" name="name"><br>
  How Many Times Per Week? <input type="number" name="times_per_week"><br>
  <br>

  <h3>Enter Exercise Information</h3>
  Add an Existing Exercise?
  <br>
  <% @exercises.each do |exercise| %>
    <input type="checkbox" id="<%= exercise.id %>"name="routine[exercise_ids][]"value="<%= exercise.id %>">
           <%= exercise.name %>
    </input><br>
  <% end %>
  <br>
  <br>

  ...and/or Create a New Exercise <br>
  Name: <input type="text" name="exercises[][name]"><br>
  Exercise Type: <input type="text" name="exercises[][exercise_type]"><br>
  Description: <textarea type="text" name="exercises[][description]"></textarea><br>
  No. of Sets: <input type="number" name="exercises[][sets]"><br>
  No. of Reps: <input type="number" name="exercises[][reps]"><br>

  <br>

  <input type="submit" value="Create Routine">
</form>
