<div id="home_page">
  <h1>Welcome, <%= current_user.name %>!</h1>
  <div id="home_page_options">
    <a id="view_exercises" href="/exercises">View Exercises</a>
    <a class="create_exercise" href="/exercises/new">Create Exercises</a>
    <br>
    <a id="logout_link" href="/logout"><strong>Log out</strong></a><br>
  </div>
</div>
