<div id="welcome_container">
  <h1>Welcome to the Flatiron Gym!</h1>
  <div id="welcome_page_options">
    <a class="login_link" href="/login">Log In</a><br>
    <a class="signup_link" href="/signup">Sign Up</a><br>
  </div>
</div>
