<a href="/users/home">Home</a> > New Exercise

<h1>Create a New Exercise!</h1>

<form action="/exercises" method="POST">
  <label class="form_content_left" for="name"><strong>Name: </strong></label><input class="form_content_right" type="text" name="name" required><br>
  <label class="form_content_left" for="times_per_week"><strong>How Many Times Per Week? </strong></label><input class="form_content_right" type="number" name="times_per_week" min=0><br>
</form>
