<a href="/users/home">Home</a> > New Exercise

<h1>New Exercise for <%= current_user.name %></h1>

<h3>Enter Exercise Information</h3>
<form action="/exercises" method="POST">
  <label class="form_content_left" for="name"><strong>Name: </strong></label><input class="form_content_right" type="text" name="name" required><br>
  <label class="form_content_left" for="exercise_type"><strong>Exercise Type: </strong></label><input class="form_content_right" type="text" name="exercise_type"><br>
  <label class="form_content_left" for="times_per_week"><strong>How Many Times Per Week? </strong></label><input class="form_content_right" type="number" name="times_per_week" min=0><br>
  <label class="form_content_left" for="description"><strong>Description: </strong></label><textarea class="form_content_right" type="text" name="description"></textarea><br>
  <label class="form_content_left" for="sets"><strong>Sets: </strong></label><input class="form_content_right" type="number" name="sets" min=0><br>
  <label class="form_content_left" for="reps"><strong>Reps: </strong></label><input class="form_content_right" type="number" name="reps" min=0><br>

  <input class="create_exercise" type="submit" value="Create Exercise">
</form>
